
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 24% 14%;
    --foreground: 0 0% 100%;

    --card: 222 24% 14%;
    --card-foreground: 0 0% 100%;

    --popover: 222 24% 14%;
    --popover-foreground: 0 0% 100%;

    --primary: 263 5% 25%;
    --primary-foreground: 0 0% 100%;

    --secondary: 252 12% 14%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 88%;

    --accent: 0 0% 29%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 252 12% 14%;
    --input: 0 0% 16%;
    --ring: 263 5% 25%;

    --radius: 0.5rem;

    --sidebar-background: 252 12% 14%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 263 5% 25%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 16%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 252 12% 14%;
    --sidebar-ring: 263 5% 25%;
  }

  .dark {
    --background: 222 24% 14%;
    --foreground: 0 0% 100%;

    --card: 222 24% 14%;
    --card-foreground: 0 0% 100%;

    --popover: 222 24% 14%;
    --popover-foreground: 0 0% 100%;

    --primary: 263 5% 25%;
    --primary-foreground: 0 0% 100%;

    --secondary: 252 12% 14%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 88%;

    --accent: 0 0% 29%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 252 12% 14%;
    --input: 0 0% 16%;
    --ring: 263 5% 25%;

    --sidebar-background: 252 12% 14%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 263 5% 25%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 16%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 252 12% 14%;
    --sidebar-ring: 263 5% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
